<section>
    <h2 class="headline">{{localize "tinyd6.actor.xp.header"}}</h2>
    <div class="row">
        <div class="col row">
            <label class="col" for="xpTotal">
                {{localize "tinyd6.actor.xp.total"}}
            </label>
            <input class="col" id="xpTotal" name="total" type="number" value="{{data.system.xp.max}}" placeholder="{{localize "tinyd6.actor.xp.total"}}" dType="Number" />
        </div>
        <div class="col row">
            <label class="col" for="xpSpent">
                {{localize "tinyd6.actor.xp.spent"}}
            </label>
            <input class="col" id="xpSpent" name="spent" type="number" value="{{data.system.xp.spent}}" placeholder="{{localize "tinyd6.actor.xp.spent"}}" dType="Number" />
        </div>
        <div class="col row">
            <label class="col" for="xpRemain">
                {{localize "tinyd6.actor.xp.remaining"}}
            </label>
            <div class="rol">
                {{data.system.xp.remaining}}
            </div>
        </div>
    </div>
</section>