<section class="inventury">
  <h2 class="headline">{{localize "tinyd6.actor.gear"}}</h2>
  <div class="row">
    {{#each data.system.gear as |gearItem id|}}
     {{#if (eq gearItem.type "gear")}}
        <{{#if tagName}}{{tagName}}{{^}}li{{/if}} class="{{classes}} actor-item" data-item-id="{{gearItem._id}}">
          <div class="d-flex w-100 align-items-center mb-2">
              <img src="{{gearItem.img}}" title="{{gearItem.name}}" width="50" height="50" class="align-middle mr-2"/>
              <h4 class="mr-auto inventury-name">
                  <a class="item-show d-inline-block h-100">{{gearItem.name}}</a>
              </h4>
              <a class="item-control item-delete ml-2 inventury-clos" title="{{localize "tinyd6.actor.actions.deleteTrait"}}"><i class="fas fa-times"></i></a>
          </div>
        </{{#if tagName}}{{tagName}}{{^}}li{{/if}}>
      {{/if}}
    {{/each}}
  </div>
</section>